{% extends "base.html" %}

{% block content %}
<br>
{% if post %}
    <form method="post">
                    <div class="form-group">
                        <label>
                            <h2>Are you sure you want to delete the comment?</h2>
                        </label>
                        <br>
                        <h4>{{ comment }}</h4><br>
                        <input type="text" value="{{ comment }}" name="old_comment" hidden>
                        <input type="submit" value="Delete" class="btn btn-danger">
                        <button class="btn btn-primary"><a href="/" id="cancel-btn">Cancel</a></button>
                        
                    </div>
     </form>
{% endif %}
{% endblock %}
