{% extends "base.html" %}

{% block content %}
           <form method="post" class="form-horizontal">
                    <div class="form-group centered">
                        <div><h2>Login</h2></div>
                        <label>
                            <h4>Username</h4>  <input type="text" name="username" class="form-control" placeholder="Username" value="{{ name }}">
                        </label>
                        <br>
                        <label>
                            <h4>Password</h4>  <input type="password" name="password" class="form-control" placeholder="Password">
                        </label>
                        {% if error %}
                        <div class="error alert alert-danger">
                            {{ error }}
                        </div>
                        {% endif %}
                        <br>
                        <input type="submit" value="Login" class="btn btn-default btn-signup">
                    </div>
                </form>
{% endblock %}